.works_block{
    background: $secondary;
    margin-top: 40px;
    padding-top: 30px;
    padding-bottom: 50px;

    .works_list{
        margin: 0;

        .work{
            .inner-work{
                padding: 0;
                margin: 0;
                position: relative;
                cursor: pointer;
                 -moz-transition: background-color .2s ease-in;
                 -webkit-transition: background-color .2s ease-in;
                 -o-transition: background-color .2s ease-in;
                 transition: background-color .2s ease-in;
                 margin-top: 30px;

                .work-cover{
                    height: 125px;
                    width: 100%;
                    background-position: center center;
                    background-repeat: no-repeat;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;

                    /* Small Devices, Tablets */
                    @media only screen and (min-width : 768px) {
                        height: 140px;
                    }

                    /* Medium Devices, Desktops */
                    @media only screen and (min-width : 992px) {
                        height: 215px;
                    }
                }

                .work-hover{
                    position: absolute;
                    top: 0;
                    opacity: 0;
                    color: #fff;
                    width: 100%;
                    height: 100%;
                    padding: 20px;
                    text-align: center;

                    .overlay{
                        opacity: .9;
                        background: $primary;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    .inner-work-hover{
                        @include vertical-align();

                        .call-to-action{
                            opacity: 1;
                            @include buttons($primary, #fff);
                        }
                    }
                }
            }
        }
    }
}
