<div class="container">
    {{ variables['intro_block'] }}
</div>

{{ variables['works_block'] }}

{{ variables['partners_block'] }}

<div class="container">
    {{ variables['contact_block'] }}
</div>
