@mixin buttons($background, $foreground) {
    font-size: 0.875rem;
    color: $foreground;
    background-color: $background;
    border: 1px solid;
    border-radius: 20px;
    border-color: $foreground;
    padding: 5px 10px;
    display: inline-block;
    margin-top: 5px;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;

    &:hover,
    &:active,
    &:focus{
        color: $background;
        background-color: $foreground;
        border-color: $background;
        // remove the blue border
        outline:0px !important;
        -webkit-appearance:none;
    }
}

@mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin alerts($background, $foreground) {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
