@import 'mixins';
@import 'colors';
@import 'typography';
@import 'forms';

@import 'drupal/login';

html{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

@import 'layouts/header';
@import 'sliders/sliders';
@import 'intro/intro';
@import 'partners/partners';
@import 'works/works';
@import 'works/detail';
@import 'contact/contact';
@import 'layouts/footer';
