<div class="{{ theme_hook_original }}" id="nos-travaux">
    <div class="container">
        <h1>Nos Travaux</h1>
        <div class="works_list row">
            {% for work in variables['works'] %}
            <div class="col-xs-6 col-sm-3 work">
                <div class="inner-work">
                    <div class="work-cover" style="background-image: url('{{ work.cover }}');"></div>
                    <div class="work-hover">
                        <div class="overlay"></div>
                        <div class="inner-work-hover">
                            <div class="title roboto-light">{{ work.title }}</div>
                            <a href="{{ work.url }}" class="call-to-action">Voir les photos</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
