.partners_block{
    background: $tertiary;
    padding-top: 30px;
    padding-bottom: 50px;

    .partners_list{
        margin: 0;
        margin-top: 30px;

        .partner{
            .inner{
                background: #fff;
                cursor: pointer;
                -moz-transition: background-color .2s ease-in;
                -webkit-transition: background-color .2s ease-in;
                -o-transition: background-color .2s ease-in;
                transition: background-color .2s ease-in;
                margin-right: 10px;
                padding: 20px;

                .partner-logo{
                    height: 60px;
                    width: 100%;
                    background-position: center center;
                    background-repeat: no-repeat;
                    -webkit-background-size: contain;
                    -moz-background-size: contain;
                    -o-background-size: contain;
                    background-size: contain;
                }

                &:hover{
                    background: $secondary;
                }
            }
        }
    }
}
