<div class="row {{ theme_hook_original }}">
    <div class="col-xs-12 ">
        <div class="credits">design by Natacha Herth & code by <a href="kevin-wenger.ch">Kevin Wenger</a> ©{{ "now"|date("Y") }}</div>
    </div>
<div>
