<div class="row {{ theme_hook_original }}">

    <div class="col-xs-12 col-sm-4 logo">
        <img src="{{ variables['logo'] }}" alt="Logo Amicolor" />
    </div>
    <div class="hidden-xs col-sm-8 main-menu">

    </div>

</div>
