.works_detail{
    max-width: 600px;
    margin: auto;
    position: relative;

    .mfp-close{
        display: none;
    }

    .close{
        cursor: pointer;
        position: absolute;
        font-size: 30px;
        top: 0;
        color: #fff;
        right: 35px;
    }

    .detail{
        text-align: center;
        padding: 35px;

        img{
            width: 100%;
            height: auto;
            background: #fff;
            padding: 25px;
        }

    }

    .works_detail-prev,
    .works_detail-next{
        color: #fff;
        position: absolute;
        top: 50%;
        margin-top: -40px;
        font-size: 80px;

        &.disabled{
            color: $secondary;
        }
    }

    .works_detail-prev{
        left: 0;
    }
    .works_detail-next{
        right: 0;
    }
}
