.layouts_header_block{
    margin: 0;
    background: $header;
    height: 65px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    left: 0;
    border-bottom: 2px solid $primary;

    .logo{
        img{
            display: block;
            margin: auto;
            margin-top: 5px;
            height: 50px;
            width: auto;
            max-width: 210px;
        }
    }

    .main-menu{
        @include vertical-align();
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            li{
                display: inline-block;
                margin-right: 20px;

                &:last-child(){
                    margin-right: 0;
                }
                a{
                    display: block;
                    color: #000;

                    &:hover,
                    &:active,
                    &:focus{
                        color: $primary;
                    }
                }
            }
        }
    }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .layouts_header_block{
        height: 145px;
        .logo{
            img{
                margin-top: 20px;
                height: auto;
                width: 100%;
            }
        }
    }
}
