body {
  color: #000;
  font-size: 16px; }

h1 {
  color: #e9560d;
  font-size: 1.625rem; }

a {
  color: #e9560d; }
  a:hover, a:active, a:focus {
    text-decoration: none; }
  a.button {
    font-size: 0.875rem;
    color: #e9560d;
    background-color: #fff;
    border: 1px solid;
    border-radius: 20px;
    border-color: #e9560d;
    padding: 5px 10px;
    display: inline-block;
    margin-top: 5px;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in; }
    a.button:hover, a.button:active, a.button:focus {
      color: #fff;
      background-color: #e9560d;
      border-color: #fff;
      outline: 0px !important;
      -webkit-appearance: none; }

.roboto {
  font-family: 'Roboto', sans-serif;
  font-weight: 600; }

.roboto-light {
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

.roboto-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700; }

form textarea:hover,
form input:hover,
form textarea:active,
form input:active,
form textarea:focus,
form input:focus,
form button:focus,
form button:active,
form button:hover {
  outline: 0px !important;
  -webkit-appearance: none; }

form .form-group {
  margin-top: 20px; }
  form .form-group .label {
    color: #000;
    font-size: 0.875rem;
    margin-bottom: 5px; }
  form .form-group input, form .form-group textarea {
    border: 1px solid #cccccc;
    height: 35px;
    padding: 5px 10px;
    color: #000;
    width: 100%; }
    form .form-group input:hover, form .form-group input:focus, form .form-group textarea:hover, form .form-group textarea:focus {
      border: 1px solid #e9560d; }
    form .form-group input.error, form .form-group textarea.error {
      border-color: #F70404; }
  form .form-group textarea {
    height: auto; }

form input.button {
  font-size: 0.875rem;
  color: #e9560d;
  background-color: #fff;
  border: 1px solid;
  border-radius: 20px;
  border-color: #e9560d;
  padding: 5px 10px;
  display: inline-block;
  margin-top: 5px;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in; }
  form input.button:hover, form input.button:active, form input.button:focus {
    color: #fff;
    background-color: #e9560d;
    border-color: #fff;
    outline: 0px !important;
    -webkit-appearance: none; }
  form input.button[type="submit"] {
    float: right; }

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px; }

.layouts_header_block {
  margin: 0;
  background: rgba(255, 255, 255, 0.7);
  height: 65px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  left: 0;
  border-bottom: 2px solid #e9560d; }
  .layouts_header_block .container {
    height: 100%; }
    .layouts_header_block .container .logo img {
      display: block;
      margin: auto;
      margin-top: 5px;
      height: 50px;
      width: auto;
      max-width: 210px; }
    .layouts_header_block .container .main-menu {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      .layouts_header_block .container .main-menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0; }
        .layouts_header_block .container .main-menu ul li {
          display: inline-block;
          margin-right: 20px; }
          .layouts_header_block .container .main-menu ul li:last-child() {
            margin-right: 0; }
          .layouts_header_block .container .main-menu ul li a {
            display: block;
            color: #000;
            font-size: 1.125rem; }
            .layouts_header_block .container .main-menu ul li a:hover, .layouts_header_block .container .main-menu ul li a:active, .layouts_header_block .container .main-menu ul li a:focus {
              color: #e9560d; }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .layouts_header_block {
    height: 145px; }
    .layouts_header_block .container .logo img {
      margin-top: 20px;
      height: auto;
      width: 100%; } }

.sliders_block {
  height: 285px;
  margin: 0; }
  .sliders_block .flexslider {
    margin: 0;
    border: 0; }
    .sliders_block .flexslider .flex-viewport .slide {
      height: 285px;
      position: relative; }
      .sliders_block .flexslider .flex-viewport .slide .hangs {
        font-size: 1.875rem;
        line-height: 2rem;
        color: #fff;
        position: absolute;
        text-align: center;
        width: 100%;
        padding: 0 20px;
        bottom: 20%;
        opacity: 0; }
        .sliders_block .flexslider .flex-viewport .slide .hangs .inner {
          max-width: 90%;
          margin: auto; }
      .sliders_block .flexslider .flex-viewport .slide .image {
        height: 285px;
        width: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; }
    .sliders_block .flexslider .flex-control-nav {
      bottom: 0; }
      .sliders_block .flexslider .flex-control-nav li a {
        background: #a99e9e; }
        .sliders_block .flexslider .flex-control-nav li a.flex-active {
          background: #e9560d;
          cursor: default; }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .sliders_block {
    height: 400px; }
    .sliders_block .flexslider .flex-viewport .slide {
      height: 400px; }
      .sliders_block .flexslider .flex-viewport .slide .hangs {
        font-size: 2.25rem;
        line-height: 2.5rem;
        top: 200px;
        bottom: auto; }
        .sliders_block .flexslider .flex-viewport .slide .hangs .inner {
          max-width: 600px;
          margin: auto; }
      .sliders_block .flexslider .flex-viewport .slide .image {
        height: 400px; } }

.intro_block {
  margin: 20px 0; }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .intro_block {
    margin-top: 45px; } }

.partners_block {
  background: #eeeeee;
  padding-top: 30px;
  padding-bottom: 50px; }
  .partners_block .partners_list {
    margin: 0;
    margin-top: 30px; }
    .partners_block .partners_list .partner .inner {
      background: #fff;
      cursor: pointer;
      -moz-transition: background-color .2s ease-in;
      -webkit-transition: background-color .2s ease-in;
      -o-transition: background-color .2s ease-in;
      transition: background-color .2s ease-in;
      margin-right: 10px;
      margin-top: 10px;
      padding: 20px; }
      .partners_block .partners_list .partner .inner .partner-logo {
        height: 60px;
        width: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain; }
      .partners_block .partners_list .partner .inner:hover {
        background: #cccccc; }
      .partners_block .partners_list .partner .inner:nth-child(n+2) {
        margin-top: 10px; }

.works_block {
  background: #cccccc;
  margin-top: 40px;
  padding-top: 30px;
  padding-bottom: 50px; }
  .works_block .works_list {
    margin: 0;
    margin-top: 30px; }
    .works_block .works_list .work .inner {
      padding: 0;
      margin: 0;
      position: relative;
      cursor: pointer;
      -moz-transition: background-color .2s ease-in;
      -webkit-transition: background-color .2s ease-in;
      -o-transition: background-color .2s ease-in;
      transition: background-color .2s ease-in;
      margin-right: 10px;
      margin-top: 10px; }
      .works_block .works_list .work .inner .work-cover {
        height: 215px;
        width: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; }
      .works_block .works_list .work .inner .work-hover {
        position: absolute;
        top: 0;
        opacity: 0;
        color: #fff;
        width: 100%;
        height: 100%;
        padding: 20px;
        text-align: center; }
        .works_block .works_list .work .inner .work-hover .overlay {
          opacity: .9;
          background: #e9560d;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0; }
        .works_block .works_list .work .inner .work-hover .inner {
          position: relative;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
          .works_block .works_list .work .inner .work-hover .inner .call-to-action {
            opacity: 1;
            font-size: 0.875rem;
            color: #fff;
            background-color: #e9560d;
            border: 1px solid;
            border-radius: 20px;
            border-color: #fff;
            padding: 5px 10px;
            display: inline-block;
            margin-top: 5px;
            -moz-transition: all .2s ease-in;
            -webkit-transition: all .2s ease-in;
            -o-transition: all .2s ease-in;
            transition: all .2s ease-in; }
            .works_block .works_list .work .inner .work-hover .inner .call-to-action:hover, .works_block .works_list .work .inner .work-hover .inner .call-to-action:active, .works_block .works_list .work .inner .work-hover .inner .call-to-action:focus {
              color: #e9560d;
              background-color: #fff;
              border-color: #e9560d;
              outline: 0px !important;
              -webkit-appearance: none; }

.works_detail {
  max-width: 600px;
  margin: auto;
  position: relative; }
  .works_detail .mfp-close {
    display: none; }
  .works_detail .close {
    cursor: pointer;
    position: absolute;
    font-size: 30px;
    top: -35px;
    color: #fff;
    right: 0; }
  .works_detail .detail {
    text-align: center;
    background: #fff;
    padding: 50px; }
    .works_detail .detail img {
      width: 100%;
      height: auto; }
  .works_detail .works_detail-prev,
  .works_detail .works_detail-next {
    color: #fff;
    position: absolute;
    top: 50%;
    margin-top: -40px;
    font-size: 80px; }
    .works_detail .works_detail-prev.disabled,
    .works_detail .works_detail-next.disabled {
      color: #cccccc; }
  .works_detail .works_detail-prev {
    left: -40px; }
  .works_detail .works_detail-next {
    right: -40px; }

.contact_block {
  font-size: 0.875rem;
  margin-top: 40px; }
  .contact_block .buttons {
    margin-top: 30px; }
    .contact_block .buttons .button {
      margin-top: 15px; }
  .contact_block .alert-success {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6; }

.layouts_footer_block {
  margin: 0;
  height: 55px;
  background-color: #e9560d;
  color: #fff;
  font-size: 0.75rem;
  padding: 20px;
  margin-top: 65px; }
  .layouts_footer_block .credits {
    text-align: right;
    max-width: 1200px; }
  .layouts_footer_block a {
    color: #fff; }
    .layouts_footer_block a:hover, .layouts_footer_block a:active, .layouts_footer_block a:focus {
      text-decoration: underline; }
